<p>Welcome to Phologs</p>

<p>I will be blogging about all the pho places I'm going to try in the metropolitan areas of Maryland</p>

<p>Check out the <strong>Reviews</strong> page to read my latest adventure. Feel free to leave your own reviews or comments. I want to see what you think!</p>

<p><strong>Last Pho Place</strong>: Pho Hung and Grill</p>

<!-- Let's also create a container for our map -->
	<%= map(:center => {
		:latlng => [39.083349, -76.952033],
		:zoom => 11
	},
		:max_zoom => 18,
		:markers => [
	    {
	       :latlng => [39.083349, -76.952033],
	       :popup => "Hello!"
	    },
	    {
	       :latlng => [39.03356, -76.909335],
	       :popup => "Hello!"
	    },
	    {
	       :latlng => [39.042059, -76.991554],
	       :popup => "Hello!"
	    }	    
	  ]
	) %>

<script>

// 	var myMap = L.map('map').setView([38.9038829, -77.0360032], 11);

// 	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
// 	    maxZoom: 18,
// 	    id: 'dennizzy.okh88pa0',
// 	    accessToken: 'pk.eyJ1IjoiZGVubml6enkiLCJhIjoiY2lqMzhvMGN2MDA0a3V4a25jNTI4djlwNCJ9.9FWVBfT-qV2a0qee4Qbzag'
// 	}).addTo(myMap);

// 	<% @phos.each do |pho| %>
// 		var marker = L.marker(
// 			[<%= pho.latitude %>, <%= pho.longitude %>]
// 			).addTo(myMap)
// 	<% end %>

</script>