<p>Hello everyone</p>

<p>Welcome to Phologs</p>

<p>I will be blogging about all the pho places I'm going to try in the metropolitan areas of Maryland</p>

<p>Feel free to leave your own reviews or comments. I want to see what you think!</p>